@using Microsoft.AspNetCore.Identity
@using WebApplication2MVCAuthO.Models

@model ApplicationUser

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="tabs_box" width="100%">
    <ul class="tabs_menu">
        <li width="50%"><a href="#tab1" class="active">Вкладка 1</a></li>
        <li width="50%"><a href="#tab2">Вкладка 2</a></li>
    </ul>
    <div class="tab" id="tab1">
        <p>Контент первой вкладки…</p>
        <label asp-for="PhoneNumber"></label>
        <p>@Model?.PhoneNumber</p> <a class="btn btn-info" asp-action="UserPhone" asp-route-returnUrl="@ViewBag.returnUrl">
            Изменить номер
        </a>
        
        @*<form id="form0" asp-controller="api" asp-action="ClientRequest" method="post" novalidate="novalidate" >*@
        <form id="form_add_client_request" method="post" novalidate="novalidate">
            <div class="form-group">
                <input name="ClientRequestModel.Latitude" id="ClientRequestModel.Latitude" type="hidden" value="1111111" />
                <input name="ClientRequestModel.Longitude" id="ClientRequestModel.Longitude" type="hidden" value="2222222" />
                <input name="ClientRequestModel.UserId" id="ClientRequestModel.UserId" type="hidden" value="@Model.Id" />
            </div>
            <button type="submit" class="btn btn-info btn-default">Искать машину</button>
        </form>

        @*<a class="btn btn-info" asp-controller="" asp-action="ClientRequest" asp-route-returnUrl="@ViewBag.returnUrl">
            Искать машину
        </a>*@



    </div>
    <div class="tab" id="tab2">
        <p>Контент второй вкладки…</p>
    </div>
</div>


