
@using Microsoft.AspNetCore.Identity
@using WebApplication2MVCAuthO.Models

@model ApplicationUser

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="page">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title">Редактировать номер телефона</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block">

                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label> +38(0xx)xxx-xxxx
                            <input asp-for="PhoneNumber" class="form-control phone"/>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-info btn-default">Сохранить</button>
                    </form>

        </div>
    </div>
</div>
