
@using Microsoft.AspNetCore.Identity
@using WebApplication2MVCAuthO.Models

@model ApplicationUser

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="tabs_box" width="100%">
    <div class="tab" id="tab1">
        <p>
            Редактировать номер телефона
        </p>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label> +38(0xx)xxx-xxxx
                <input asp-for="PhoneNumber" class="form-control phone"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <a class="btn btn-info" asp-action="Index" asp-route-returnUrl="@ViewBag.returnUrl">
                Отмена
            </a>
            <button type="submit" class="btn btn-info btn-default">Сохранить</button>
        </form>
    </div>
</div>

