<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">

    <title>@ViewData["Title"] - WebApplication2MVCAuthO</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/framework7/build/css/framework7.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/framework7/kitchen-sink/css/app.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
<!-- App root element -->
<div id="app">

    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    @*<div class="panel-backdrop" style=""></div>*@
        
    <div class="panel panel-left panel-cover" style="">
        <div class="page">
            <div class="page-content">
                <div class="block-title">Left Panel</div>
                <div class="block">
                    <p>This is a left side panel. You can close it by clicking outsite or on this link: <a href="#" class="panel-close">close me</a>. You can put here anything, even another isolated view like in <a href="#" data-panel="right" class="panel-open">Right Panel</a></p>
                </div>
                <div class="block-title">Main View Navigation</div>
                <div class="list links-list">
                    <ul>
                        <li>
                            <a href="/accordion/" class="panel-close">Accordion</a>
                        </li>
                        <li>
                            <a href="/action-sheet/" class="panel-close">Action Sheet</a>
                        </li>
                        <li>
                            <a href="/badge/" class="panel-close">Badge</a>
                        </li>
                        <li>
                            <a href="/buttons/" class="panel-close">Buttons</a>
                        </li>
                        <li>
                            <a href="/cards/" class="panel-close">Cards</a>
                        </li>
                        <li>
                            <a href="/checkbox/" class="panel-close">Checkbox</a>
                        </li>
                        <li>
                            <a href="/chips/" class="panel-close">Chips/Tags</a>
                        </li>
                        <li>
                            <a href="/contacts-list/" class="panel-close">Contacts List</a>
                        </li>
                        <li>
                            <a href="/data-table/" class="panel-close">Data Table</a>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus mauris leo, eu bibendum neque congue non. Ut leo mauris, eleifend eu commodo a, egestas ac urna. Maecenas in lacus faucibus, viverra ipsum pulvinar, molestie arcu. Etiam lacinia venenatis dignissim. Suspendisse non nisl semper tellus malesuada suscipit eu et eros. Nulla eu enim quis quam elementum vulputate. Mauris ornare consequat nunc viverra pellentesque. Aenean semper eu massa sit amet aliquam. Integer et neque sed libero mollis elementum at vitae ligula. Vestibulum pharetra sed libero sed porttitor. Suspendisse a faucibus lectus.</p>
                    <p>Duis ut mauris sollicitudin, venenatis nisi sed, luctus ligula. Phasellus blandit nisl ut lorem semper pharetra. Nullam tortor nibh, suscipit in consequat vel, feugiat sed quam. Nam risus libero, auctor vel tristique ac, malesuada ut ante. Sed molestie, est in eleifend sagittis, leo tortor ullamcorper erat, at vulputate eros sapien nec libero. Mauris dapibus laoreet nibh quis bibendum. Fusce dolor sem, suscipit in iaculis id, pharetra at urna. Pellentesque tempor congue massa quis faucibus. Vestibulum nunc eros, convallis blandit dui sit amet, gravida adipiscing libero.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main view-init ios-edges" id="main-view" data-url="/">

        <!-- Initial Page, "data-name" contains page name -->
        <div class="page page-with-subnavbar" tabbar-fixed>

            <!-- Top Navbar -->
            <div class="navbar">
                <div class="navbar-inner sliding">

                    <nav class="navbar navbar-inverse navbar-fixed-top" style="position:absolute">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                                        style="background-color: #2196f3; border-color:#2196f3">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="left">
                                    <a href="#" class="link icon-only panel-open" data-panel="left">
                                        <i class="icon f7-icons ios-only">menu</i>
                                        <i class="icon material-icons md-only">menu</i>
                                    </a>
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WebApplication2MVCAuthO</a>
                                </div>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>
                                        <a class="item-content item-link" asp-area="" asp-controller="Home" asp-action="About">
                                            <div class="item-inner">
                                                <div class="item-title">About</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                </ul>
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </nav>

                </div>
            </div>

            @*<div class="searchbar-backdrop"></div>*@

            <!-- Toolbar -->

            <div class="toolbar tabbar" style="top: 50px;">
                <div class="tabs_menu">
                    <div class="toolbar-inner">
                        <a href="#tab1" data-tab="#tab1" class="tab-link link" style="text-decoration:none">
                            <span class="">Пассажир</span>
                        </a>
                        <a href="#tab2" data-tab="#tab2" class="tab-link link" style="text-decoration:none">
                            <span class="">Водитель</span>
                        </a>
                        <span class="tab-link-highlight" style="width: 50%; transform: translate3d(0%, 0px, 0px);">
                        </span>
                    </div>
                </div>
            </div>

            <!-- Scrollable page content -->
                    
            <div class="page-content" style="padding-top: 75px;">
                <div class="container body-content">
                    <div id="body_content">
               
                        @RenderBody()
                
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @*<footer style="position: fixed; bottom: 0px">
            <p>&copy; 2017 - WebApplication2MVCAuthO</p>
        </footer>*@
    </div>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/framework7/build/js/framework7.js"></script>
    <script src="~/lib/framework7/kitchen-sink/js/routes.js"></script>
    <script src="~/lib/framework7/kitchen-sink/js/app.js"></script>

    <script src="~/js/site.js" asp-append-version="false"></script>
    <script src="~/js/jquery.mask.min.js"></script>

</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
